kind: Config
apiVersion: v1
clusters:
- cluster:
    certificate-authority: ca.crt
    server: https://APISERVER_NAME:8443/
  name: default-cluster
users:
- name: admin
  user:
    client-certificate: admin.crt
    client-key: admin-key.key
contexts:
- context:
    cluster: default-cluster
    user: admin
  name: default-system
current-context: default-system
