kind: Config
apiVersion: v1
clusters:
- cluster:
    certificate-authority: ca.crt
    server: https://APISERVER_NAME:8443/
  name: default-cluster
users:
- name: kube-node
  user:
    client-certificate: NODE_NAME.crt
    client-key: NODE_NAME.key
contexts:
- context:
    cluster: default-cluster
    user: kube-node
  name: default-system
current-context: default-system
